<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	
</head>

<body>
	<div class="row">
		<div class="col-4">
			<h1 style="font-family: 'DotGothic16', sans-serif;">サンプル用ページだよ</h1>
			<h1 style="font-family: 'DotGothic16', sans-serif;">google font使ってるよ</h1>

			<!--ここ大事！！！-->
			<form th:action="@{/micadd}" method="POST">
				<div class="form-group">

					<label for="month">ID</label>
					<input type="text" name="id"><br>
					<label for="month">月</label>
					<input type="text" name="month"><br>

					<label for="day">日</label>
					<input type="text" name="day"><br>
					
					<label for="todo">予定</label>
					<input type="text" name="todo"><br>

					<button type="submit" class="btn btn-primary">送信</button>
					</div>
			</form>
		</div>
	</div>
</body>

</html>