<!DOCTYPE html>
<html>
<head>
    <title>新規予定登録画面</title>
</head>
<body>
    <h1>新規予定登録画面</h1>
    <form th:action="@{/micadd}" method="post">
        <label for="month">月:</label><br>
        <input type="text" id="month" name="month" pattern="[0-1]{0,1}[0-9]" title="1から12までの数値を入力してください"><br>
        <label for="day">日:</label><br>
        <input type="text" id="day" name="day" pattern="[0-3]{0,10-9]" title="1から31までの数値を入力してください"><br>
        <label for="todo">予定:</label><br>
        <input type="text" id="todo" name="todo"><br>
        <input type="submit" value="登録">
    </form>
    <button class="michome" onclick="location.href='michome'">戻る</button>
</body>
</html>