<!DOCTYPE html>
<html>
<head>
    <title>削除画面</title>
</head>
<body>
    <h1>削除画面</h1>
    <form action="/submit" method="post">
		<p>削除する日</p>
        <label for="month">月:</label><br>
        <input type="number" id="month" name="month" min="1" max="12"><br>
        <label for="day">日:</label><br>
        <input type="number" id="day" name="day" min="1" max="31"><br>
        <input type="submit" value="削除">
    </form>
    <button class="michome" onclick="location.href='michome'">戻る</button>
</body>
</html>