<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MicTodo Delete</title>
</head>
<body>
    <h2>MicTodo - 予定削除</h2>
    <form action="/micdel" method="POST">
        <label for="deleteMonth">月：</label>
        <input type="text" id="deleteMonth" name="deleteMonth" required min="1" max="12">
        <label for="deleteDay">日：</label>
        <input type="text" id="deleteDay" name="deleteDay" required min="1" max="31">
        <button type="submit">削除</button>
    </form>
    
    <script>
 // ここにJavaScriptが必要な場合のコードを追加
    </script>
</body>
</html>