<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MicUser Login</title>
</head>
<body>
    <h2>MicUser Login</h2>
    <form action="/useradd" method="post">
        <label for="userId">ユーザID：</label>
        <input type="text" id="userId" name="userId" maxlength="10" required>
        <br>
        <label for="password">パスワード：</label>
        <input type="password" id="password" name="password" maxlength="10" required>
        <br>
        <input type="submit" value="ユーザー登録">
    </form>
</body>
</html>
